/*------------------------------------------------------------------------------
    BASE
------------------------------------------------------------------------------*/
body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-family: $font-family-body;
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-weight: 300;
    color: $text-color-body;
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: border-box;
}

h1, h2 {
    font-weight: lighter;
}

a, .nav-link {
    color: $text-color-body;
    text-decoration: none;
    margin: 0;
    padding: 0;

    &:hover {
        color: $accent-color;
    }
}

.list-unstyled {
    margin: 0;
    padding-left: 0;
}

hr {
    border: 0.5px solid $border-color;
}
/*------------------------------------------------------------------------------
    HEADER BLADE
------------------------------------------------------------------------------*/
header {
    position: fixed;
    width: 100%;
    height: 8rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: $head-foot-color;
    color: $btnlink-color;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    z-index: 10;

    .header-content {
        width: 90%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        
        .logo-container {
            display: flex;
            // flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
    
            .logo {
                margin: 0;
                font-family: $font-family-logo;
                letter-spacing: 0.1rem;
            }
        }
    
        nav {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            align-content: space-between;
            flex-grow: 2;
        }

        .nav-item, .footer-item {
            color: $btnlink-color;
            text-align: center;
            font-weight: bold;
            letter-spacing: 1.4px;
            
            .icon {
                fill: #fff;
            }
            
            &:hover {
                color: $accent-color;

                .icon {
                    fill: $accent-color;
                }
            }
        }

        .nav-logged-out {
            justify-content: flex-end;
        }
    } 
}

main {
    position: relative;
    width: 90%;
    padding: 10rem 0 0 0;
    min-height: 40rem;
}

.success-container {
    color: #2ab27b;
}

.error-container {
    color: #bf5329;
}

.login-content, .register-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    // margin-bottom: 2rem;
}

.login-container, .reg-container {
    background-color: $box-bg-color;
    width: 100%;
    max-width: 30rem;
    padding: 1rem 1rem 2.5rem 1rem;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.6);
    margin-bottom: 3rem;
}

.projects-container {
    @extend .login-container;
}

.task-card {
    @extend .login-container;

    .task-meta {
        font-size:0.8rem;
    }
}

/*------------------------------------------------------------------------------
    FOOTER BLADE
------------------------------------------------------------------------------*/
footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    background-color: $head-foot-color;
    // position: absolute;
    bottom: 0;
    color: $btnlink-color;

    .footer-item {
        padding-top: 0.8rem;
        text-align: center;
        width: 90%;
    }

    .footer-item:last-child {
        padding-bottom: 2rem;
    }

    h3, h4  {
        // padding: 0;
        margin-bottom: 0;
    }

    h3 {
        font-family: $font-family-logo;
        letter-spacing: 0.1rem;
    }

    a {
        color: $btnlink-color;
    }
}