/*------------------------------------------------------------------------------
    BASE
------------------------------------------------------------------------------*/
body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-family: $font-family-body;
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-weight: 300;
    color: $text-color-body;
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: border-box;
}

h1, h2 {
    font-weight: lighter;
}

a, .nav-link {
    color: $text-color-body;
    text-decoration: none;
    margin: 0;
    padding: 0;

    &:hover {
        color: orange;
    }
}

.list-unstyled {
    margin: 0;
    padding-left: 0;
}

hr {
    border: 0.5px solid #939292;
}
/*------------------------------------------------------------------------------
    HEADER BLADE
------------------------------------------------------------------------------*/
header {
    position: fixed;
    width: 100%;
    height: 6rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: black;
    color: white;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);

    .header-content {
        width: 90%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        
        .logo-container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            flex-grow: 1;
            // border: 2px solid green;
    
            .logo {
                margin: 0;
                font-family: $font-family-logo;
                letter-spacing: 0.1rem;
            }
        }
    
        nav {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            align-content: space-between;
            // border: 1px dotted blue;
            flex-grow: 2;
    
            a {
                color: white;
                text-align: center;

                &:hover {
                    color: orange;
                }
            }

            .fa {
                font-size: 2rem;
            }
        }
    } 
}

main {
    width: 90%;
    // max-width: 1200px;
    // border: 1px dotted blue;
    padding: 10rem 0 15rem;
}

.success-container, .error-container {
    // font-size: 1.6rem;
}

.success-container {
    color: #2ab27b;
}

.error-container {
    color: #bf5329;
}

.task-card {
    background-color: orange;
    max-width: 30rem;
    padding: 0.3rem 1rem 1rem 1rem;
    border-radius: .25rem;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.6);
    margin-bottom: 1.5rem;

    .task-meta {
        font-size:0.8rem;
    }
}

/*------------------------------------------------------------------------------
    FOOTER BLADE
------------------------------------------------------------------------------*/
footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    background-color: black;
    bottom: 0;
    color: white;

    .footer-item {
        padding-top: 0.8rem;
        text-align: center;
        width: 90%;
    }

    .footer-item:last-child {
        padding-bottom: 2rem;
    }

    h3, h4  {
        // padding: 0;
        margin-bottom: 0;
    }

    h3 {
        font-family: $font-family-logo;
        letter-spacing: 0.1rem;
    }

    a {
        color: white;
    }
}