header {
    height: 6rem;

    .header-content {
        justify-content: flex-start;

		.logo-container {
			justify-content: flex-start;

			.logo {
                font-size: 2rem;
            }
		}
		  
		.nav-item {
			font-size: 1rem;
		}
	}
}

// .profile-container {
//     width: 70%;
// }

.project-divider {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
	height: 4rem;
}

.project-column, .client-column {
    width: 35%;
	margin-bottom: 0;
}

.edit-column {
    width: 10%;
}

/*------------------------------------------------------------------------------
    FORMS-STYLING TABLET
------------------------------------------------------------------------------*/
button { 
	width: 40%;
	max-width: 15rem;
}

.reg-btn, .login-btn {
	min-width: 100%;
}

.icon-btn {
    // justify-content: space-around;

	.btn-txt {
        // padding-left: 0;
    }
}


    