body {
    font-size: $font-size-larger;
}

h1 {
	font-size: $font-size-h1-larger;
}

h2 {
	font-size: $font-size-h2-larger;
}

h3 {
	font-size: $font-size-h3-larger;
}

/*------------------------------------------------------------------------------
    HEADER BLADE STYLING
------------------------------------------------------------------------------*/
header {
	height: 6rem;
	.header-content {
		flex-flow: row nowrap;
		justify-content: space-between;
	
		.logo-container {
			justify-content: flex-start;
			width: 35%;
	
			.logo {
				font-size: 2rem;
			}
		}
	
		nav {
			width: 65%;
			max-width: 40rem;
			margin-top: 0;
	
			.nav-item {
				font-size: 1rem;
			}
		}
	
		.nav-logged-out {
			justify-content: flex-end;
		}
	}
}

/*------------------------------------------------------------------------------
    PROJECTS BLADE STYLING
------------------------------------------------------------------------------*/

.project-divider {
    align-items: center;
    justify-content: space-between;
	height: 4rem;
}

.project-column, .client-column {
    width: 30%;
	margin-bottom: 0;
}

.client-column {
	width: 30%;
}


/*------------------------------------------------------------------------------
    TASK BLADE STYLING
------------------------------------------------------------------------------*/
.tasks-container {
	justify-content: flex-start;
}

.task-card {
	margin: 0 0.8rem 0.8rem 0;	
}

/*------------------------------------------------------------------------------
    FORMS-STYLING TABLET
------------------------------------------------------------------------------*/
button { 
	width: 40%;
	max-width: 15rem;
}

.reg-btn, .login-btn {
	min-width: 100%;
}



    