header {
    height: 6rem;

    .header-content {
        justify-content: flex-start;

		.logo-container {
			justify-content: flex-start;

			.logo {
                font-size: 2rem;
            }
		}
		  
		.nav-item {
			font-size: 1rem;
		}
	}
}

.edit-container {
    width: 20%;
}

/*------------------------------------------------------------------------------
    FORMS-STYLING TABLET
------------------------------------------------------------------------------*/
button { 
	width: 40%;
	max-width: 15rem;
}

.reg-btn, .login-btn {
	min-width: 100%;
}

.icon-btn {
    // justify-content: space-around;

	.btn-txt {
        // padding-left: 0;
    }
}


    